*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: .4s;
}

:root{
    --primary-color: #FA4A0C;
    --text-color: #737373;
    --footer-color: #5C5C5C;
}

.btn{
    width: 236px;
    padding: 16px 0px; 
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

/* Navbar */
.navbar{
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo,
.footer__logo{
    width: 200px;
    height: 90%;
    object-fit: cover;

}

.navbar__links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar__link{
    margin-left: 50px;
    text-align: center;
}

.navbar__link a{
    color: black;
    line-height: 100px;
    display: block;
    width: 120px;
    font-weight: 600;
}

.navbar__link:hover a{
    background-color: var(--primary-color);
    color: white;
}

.navbar__menu{
    display: none;
    cursor: pointer;
}

.navbar__menu i{
    font-size: 24px;
}

/* Home */
.home{
    width: 100%;
    height: 620px;
    background-image: url("/img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home__text{
    width: 55%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    letter-spacing: 0.2px;
}

.home__text--name{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.home__text--heading{
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    margin: 16px 0;
}

.home__text--desc{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 54px;
}

.home__btn--playstore{
    background-color: var(--primary-color);
    margin-right: 16px; 
}

.home__btn--playstore:hover{
    background-color: transparent;
}

.home__btn--appstore{
    background-color: transparent;
    margin-left: 16px;
}

.home__btn--appstore:hover{
    background-color: var(--primary-color);
}

/* Img */
.img{
    width: 100%;
    height: 550px;
    position: relative;
}

.img__app--img{
    position: absolute;
    left: 40%;
    top: calc(-25% - 25px);
    transform: translateX(-40%);
    width: 880px;
    height: 600px;
    object-fit: contain;
}

/* Work */
.work{
    width: 100%;
    margin: 0 auto;
}

.work__underline{
    width: 70%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.work__heading{
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    letter-spacing: 0.1px;
    margin: 72px 0 60px 0;
}

.work__steps{
    width: 70%;
    height: 600px;
    margin: 0 auto 54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work__step--img{
    order: 1;
    width: 270px;
    height: 525px;
    object-fit: cover;
}

.work__step--text{
    order: 2;
    height: 40%;
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
}

.work__step--name{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-color);
}

.work__step--heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
}

.work__step--desc{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: var(--text-color);
}

.work__steps:nth-child(even) img{
    order: 2;
}

.work__steps:nth-child(even) .work__step--text{
    order: 1;
}

/* Download */
.download{
    width: 100%;
    height: 516px;
    background-image: url("/img/download.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 100px;
}

.download__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 0.2px;
    text-align: center;
}

.download__text--heading{
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
}

.download__text--desc{
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin: 20px 0 78px;
}

.download__btn--playstore{
    background: var(--primary-color);
}

.download__btn--playstore:hover{
    background: transparent;
    color: var(--primary-color);
}

.download__btn--appstore{
    background: transparent;
    color: var(--primary-color);
}

.download__btn--appstore:hover{
    color: white;
    background: var(--primary-color);
}
/* Footer */
.footer{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials i{
    padding: 0 16px;
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.footer__copyright{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: var(--footer-color);
}

/* Responsive */
@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar__menu{
        display: block;
    }
    .navbar__links{
        display: none;
    }
    .navbar__logo,
    .footer__logo{
        width: 120px;
    }

    /* Home */
    .home{
        background-image: none;
        background-color: #FAFAFA;
    }
    .home__text{
        width: 90%;
    }
    .home__text--name{
        font-size: 16px;
        color: var(--text-color);
        letter-spacing: 0.1px;
    }
    .home__text--heading{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.2px;
        color: #252B42;
    }
    .home__text--desc{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
        color: var(--text-color);
    }
    .home__text--btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home__btn--playstore{
        margin: 0 0 16px 0;
        border: var(--primary-color);
    }
    .home__btn--playstore:hover{
        color: var(--primary-color);
    }
    .home__btn--appstore{
        margin: 0;
        color: var(--primary-color);
        border: var(--primary-color);
    }
    .home__btn--appstore:hover{
        color: white;
    }

    /* Img */
    .img{
        margin: 0 auto;
    }
    .img__app--img{
        position: relative;
        top: 50%;
        left: 10%;
        right: 0;
        bottom: 0;
        transform: translate(-20%, -50%);
        width: 100%;
        height: 100%;
    }
    /* Work */
    .work{
        /* height: 1000px; */
        width: 100%;
    }

    .work__heading{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin: 48px;
        display: block;
    }
    .work__steps{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .work__step--text{
        width: 100%;
        height: 100%;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .work__step--img{
        order: 2;
        display: block;
    }
    .work__step--name{
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
    }
    .work__step--heading{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        margin: 24px 0;
    }
    .work__step--desc{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
    }

    /* Download */
    .download{
        background-image: none;
        background-color: #252B42;
        display: block;
    }
    .download__text--heading{
        font-weight: 700;
        font-size: 40px;
        line-height: 57px;
    }
    .download__text--desc{
        font-weight: 500;
        font-size: 24px;
        line-height: 38px;
    }
    .download__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: var(--primary-color); */
    }
    
    /* Footer */
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .footer__logo{
        display: none;
    }
}